/*logo-sang pisang1*/
#logo_sang_pisang{
  position: absolute;
  width: 92px;
  height: 53px;
  left: 45px;
  top: 6px;
}

/*logo instagram*/
#instagram{
  position: absolute;
  left: 10.94%;
  right: 10.94%;
  top: 10.94%;
  bottom: 10.94%
}

#menu{
  position: absolute;
  left: 37.64%;
  right: 58.19%;
  top:3%;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  color: #000
}

/*menu*/
tr_menu{
  position: absolute;
  left: 37.64%;
  right: 58.19%;
  top:3%;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  color: #000;
}

/*About Us*/
tr_about_us{
  position: absolute;
  left: 45.42%;
  right: 47.85%;
  top: 3%;
  bottom: 26.15%;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  text-align: center
}

/*Our Store*/
tr_our_store{
  position: absolute;
  left: 55.76%;
  right: 37.36%;
  top: 3%;
  bottom: 26.15%;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;

  text-align: center;

  color: #000;
}

/*Our Menu*/
h1_our_menu{
  position: absolute;
  width: 516px;
  height: 71px;
  left: 179px;
  top: 100px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.165em;

  color: #000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*All Menu*/
h2_all_menu{
  position: absolute;
  width: 209.04px;
  height: 38.95px;
  left: 450px;
  top: 250px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.135em;

color: #000000;
}

/*All Menu*/
h3_all_menu{
  position: absolute;
  width: 209.04px;
  height: 38.95px;
  left: 136px;
  top: 318.95px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.135em;

  color: #000000;
}

/* Banana Nugget */
h3_banana_nugget{
  position: absolute;
  width: 267px;
  height: 38px;
  left: 102px;
  top: 376px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.12em;

  color: #000000;
}

/*Banroll*/
h3_banroll{
  position: absolute;
  width: 209.04px;
  height: 38.95px;
  left: 136px;
  top: 439.42px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}

/* Banana Tortilla */
h3_banana_tortilla{
  position: absolute;
  width: 256px;
  height: 39px;
  left: 113px;
  top: 505px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.06em;

  color: #000000;
}

/* Ice Banana */
h3_ice_banana{
  position: absolute;
  width: 209.04px;
  height: 38.95px;
  left: 138px;
  top: 566.05px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.09em;

  color: #000000;
}

/* SANG PISANG */
h2_sang_pisang{
  position: absolute;
  width: 258px;
  height: 29px;
  left: 106px;
  bottom: 70px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;

  color: #000000
}

/* Contact Us */
h4_contact_us{
  position: absolute;
  width: 92px;
  height: 22px;
  left: 106px;
  bottom: 45px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

/* FAQ */
tr_faq{
  position: absolute;
  width: 137px;
  height: 20px;
  left: 106px;
  bottom: 20px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

/* Help */
tr_help{
  position: absolute;
  width: 51px;
  height: 21px;
  left: 167px;
  bottom: 20px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000
}

/* Privacy Policy */
tr_privacy_policy{
  position: absolute;
  width: 119px;
  height: 21px;
  left: 235px;
  bottom: 20px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

/* Terms of Use */
tr_tou{
  position: absolute;
  width: 137px;
  height: 13px;
  left: 370px;
  bottom: 28px;

  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}